/* Write your CSS here */
.app-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-logo {
  width: 60px;
  height: 60px;
}
.app-name {
  color: #1e293b;
  font-size: 15px;
}

@media (min-width: 768px) {
  .app-item {
    min-width: 120px;
  }
}

@media (max-width: 767px) {
  .app-item {
    min-width: 100px;
  }
  .app-name {
    color: #1e293b;
    font-size: 12px;
  }
}
